<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="sound it out packages" value="https://nuget.pkg.github.com/sound-it-out/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <sound_x0020_it_x0020_out_x0020_packages>
        <add key="Username" value="AtLeastITry" />
        <add key="ClearTextPassword" value="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" />
      </sound_x0020_it_x0020_out_x0020_packages>
  </packageSourceCredentials>
</configuration>