<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sound It Out</title>
    <link rel="stylesheet" href="/css/site.min.css">
</head>
    <body>
        <div class="container">
            @RenderBody()
        </div>        
        @await RenderSectionAsync("scripts", required: false)
    </body>
</html>