@using SIO.Identity.ForgotPassword.Requests
@{
    Layout = "../../Shared/Views/_Layout";
    ViewData["Title"] = "Forgot password - Success";
}

<div class="row mb-3">
    <div class="col text-center">
        <img class="logo" src="~/img/logo.svg" />
    </div>
</div>

<form class="form-signin text-center" asp-route="login" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="card shadow-lg">
        <div class="card-body">
            <div class="form-group mt-3">
                <p>Your forgot password request was success, if the email you supplied is registered with an account, you should recieve an eamil shortly.</p>
            </div>

        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="/login">Click here to login</a>.</small>
        </div>
    </div>
</form>