$sio-green: #00b700;
$theme-colors: (
  "primary": $sio-green
);

$enable-rounded: true;

@import 'node_modules/bootstrap/scss/bootstrap';

.logo {
    max-width: 16rem;
    width: 100%;
}

.validation-summary-errors ul {
    margin-bottom: 0;
}
