@using SIO.Identity.Login.Responses
@model LoginResponse
@{
    Layout = "../../Shared/Views/_Layout";
    ViewData["Title"] = "Login";
}

<div class="row mb-3">
    <div class="col text-center">
        <img class="logo" src="~/img/logo.svg" />
    </div>
</div>

<form class="form-signin text-center" asp-route="login" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="card shadow-lg">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger mt-3"></div>

            <div class="form-group mt-3">
                <label for="email" class="sr-only">Email address</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="passsword" class="sr-only">Password</label>
                <input type="password" id="passsword" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" name="button" value="submit" type="submit">Sign in</button>
            </div>

            <div class="form-group mb-0">
                <a href="/forgot-password">Forgot password?</a>
            </div>

        </div>
        <div class="card-footer">
            <small class="text-muted">Don't have an account? <a href="/register">Create one here</a>.</small>
        </div>
    </div>
</form>